ase==3.26.0
assyst==0.9.0
atomistics==0.3.4
black==25.12.0
calphy==1.4.6
coverage==7.13.0
custodian==2025.10.11
dynaphopy==1.18.0
executorlib==1.7.2
gpaw==25.7.0
grayskull==2.9.2
gunicorn==23.0.0
h5io==0.2.5
h5io_browser==0.2.7
jupyterlab==4.5.1
landau==1.5.2
langchain==0.3.27
langchain-anthropic==0.3.22
langchain-experimental==0.3.4
langchain-openai==0.3.35
lxml==5.4.0 
matplotlib==3.10.7
mkl==2024.2.2
mpi4py==4.1.1
nglview==3.1.4
mypy==1.19.1
pre-commit==4.5.1
psycopg2==2.9.10
pyauthenticator==0.3.0
pygraphviz==1.14
pyiron==0.5.2
pyiron-atomistics==0.8.6
pyiron-base==0.15.10
pyiron-potentialfit==0.3.15
pyiron-snippets==1.0.2
pyiron-workflow==0.15.4
pylammpsmpi==0.3.6
pysqa==0.3.3
python-ternary==1.0.8
pyxtal==1.1.2
torch==2.5.1
seaborn==0.13.2
tensorflow==2.18.0
